//====================================================================================================
.tips {
	@include adaptiv-value("padding-top", 30, 24, 1);
	@include adaptiv-value("padding-bottom", 60, 40, 1);
}

.slider-tips {
	position: relative;

	// .slider-tips__body
	&__body {
		@include adaptiv-value("margin-left", -32, -15, 1);
		@include adaptiv-value("margin-right", -32, -15, 1);
		@include adaptiv-value("padding-left", 32, 15, 1);
		@include adaptiv-value("padding-right", 32, 15, 1);
		@include adaptiv-value("padding-bottom", 32, 15, 1);
	}

	// .slider-tips__slide
	&__slide {
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 5px 20px rgba(97, 97, 97, 0.4);
			}
		}
	}

	// .slider-tips__image
	&__image {
		padding: 0px 0px calc(320px / 391px) * 100% 0px;
	}

	// .slider-tips__content
	&__content {
		color: inherit;
		font-size: 14px;
		line-height: 150%;
		padding: 15px;
	}

	// .slider-tips__title
	&__title {
		flex: 1 1 auto;
		color: inherit;
		font-weight: 600;
		line-height: 120%;
		@include adaptiv-value("font-size", 24, 18, 1);
		transition: color 0.3s ease 0s;

		&:not(:last-child) {
			margin: 0px 0px calc(8px / 24px) * 1em 0px;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
	}

	// .slider-tips__text
	&__text {
		color: $greyColor;
		font-size: 14px;
		line-height: 150%;
	}

	// .slider-tips__dotts
	&__dotts {
		@include adaptiv-value("padding-top", 8, 0, 1);
		justify-content: center;
	}

	// .slider-tips__arrows
	&__arrows {
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: calc(100% - 48px);
		left: 24px;
		z-index: 5;
		justify-content: space-between;

		@media (min-width: ($md1+px)) {
			left: -24px;
			width: calc(100% + 48px);
		}

		@media (max-width: ($md3+px)) {
			display: none;
		}
	}
}

//====================================================================================================